<h1>Assign a Client to the Stylist</h1>

<form action="/stylist/verify" method="post">
  <div class='form-group'>
    <label for="client_name">Client's Name:</label>
    <input id="client_name" name="client_name" type="text" class="form-control">
  </div>
  <button type="submit">Assign Client</button>
</form>
