<h1>Add a Client!</h1>

<form action="/clients" method="post">
  <div class='form-group'>
    <label for="client_name">Client's Name:</label>
    <input id="client_name" name="client_name" type="text" class="form-control">
  </div>
  <button type="submit">Add Client</button>
</form>
