<h1>Current Clients</h1>

<% if @clients.any? %>
  <h3>Clients:</h3>
  <ul>
      <% @clients.each do |client| %>
        <li><a href="/clients/<%= client.id %>"> <%= client.client_name %> </a></li>
      <% end %>
  </ul>
  <% else %>
    <p>
      You dont have any clients. Your business sucks!
    </p>
<% end %>
