<!DOCTYPE html>
<html>
  <head>
    <title>Hair Salon</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
    <footer>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/stylists">View Stylists</a></li>
        <li><a href="/clients">View Clients</a></li>
        <li><a href="/stylists/new">Add a New Stylist</a></li>
        <li><a href="/clients/new">Add a New Client</a></li>
      </ul>
    </footer>
  </body>
</html>
