<h1>Add a Stylist!</h1>

<form action="/stylists" method="post">
  <div class='form-group'>
    <label for="stylist_name">Stylist's Name:</label>
    <input id="stylist_name" name="stylist_name" type="text" class="form-control">
  </div>
  <button type="submit">Add Stylist</button>
</form>
